.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/tommi-selander-GqSMUFrkQ_w-unsplash.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {width: 627px; font-family: "Gilda Display"; margin: 337px auto 0}
.u-section-1 .u-text-2 {width: 570px; font-style: italic; margin: 20px auto 0} 

@media (max-width: 767px){ .u-section-1 .u-text-1 {width: 540px}
.u-section-1 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px}
.u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-text-2 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 100vh}
.u-section-2 .u-text-1 {font-family: "Gilda Display"; margin: 176px 272px 0 auto}
.u-section-2 .u-image-1 {width: 380px; height: 380px; background-image: url("images/P1150428.JPG"); background-position: 41.78% 50%; margin: -5px auto 0 60px}
.u-section-2 .u-text-2 {margin: -350px 180px 60px 570px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-right: 72px}
.u-section-2 .u-text-2 {margin-right: 80px; margin-left: 470px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-right: 0}
.u-section-2 .u-text-2 {margin-right: 0; margin-left: 330px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 480px}
.u-section-2 .u-text-1 {margin-top: 238px}
.u-section-2 .u-image-1 {width: 360px; height: 360px}
.u-section-2 .u-text-2 {margin-top: -330px; margin-left: 150px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 347px}
.u-section-2 .u-text-1 {margin-top: 267px}
.u-section-2 .u-image-1 {width: 227px; height: 227px; margin-top: -123px; margin-left: 57px}
.u-section-2 .u-text-2 {margin-top: -84px; margin-left: 0} }.u-section-3 .u-sheet-1 {min-height: 1227px}
.u-section-3 .u-layout-wrap-1 {margin: 80px auto 80px 0}
.u-section-3 .u-layout-cell-1 {min-height: 196px; background-image: none}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-text-1 {width: 613px; font-family: "Gilda Display"; margin: 0 auto}
.u-section-3 .u-text-2 {font-size: 1rem; width: 613px; margin: 15px auto 0}
.u-section-3 .u-layout-cell-2 {background-position: 0% 0%; min-height: 527px; background-image: none}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-1 {height: 236px; margin: 0 auto 0 0}
.u-section-3 .u-text-3 {margin: 30px 20px 0}
.u-section-3 .u-text-4 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 0}
.u-section-3 .u-btn-1 {background-image: none; border-style: none none solid; margin: 64px auto 0 20px; padding: 0}
.u-section-3 .u-layout-cell-3 {background-position: 0% 0%; min-height: 414px; background-image: none}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-2 {height: 236px; object-position: 50% 79.22%; background-position: 50% 79.22%; margin: 0 auto}
.u-section-3 .u-text-5 {margin: 30px 20px 0}
.u-section-3 .u-text-6 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 0}
.u-section-3 .u-btn-2 {background-image: none; border-style: none none solid; margin: 20px auto 0 20px; padding: 0}
.u-section-3 .u-layout-cell-4 {background-position: 0% 0%; min-height: 414px; background-image: none}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-image-3 {height: 236px; margin: 0 auto}
.u-section-3 .u-text-7 {margin: 30px 20px 0}
.u-section-3 .u-text-8 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 0}
.u-section-3 .u-btn-3 {background-image: none; border-style: none none solid; margin: 20px auto 0 20px; padding: 0}
.u-section-3 .u-layout-cell-5 {background-position: 0% 0%; min-height: 244px; background-image: none}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-image-4 {height: 236px; margin: 0 auto}
.u-section-3 .u-text-9 {margin: 30px 20px 0}
.u-section-3 .u-text-10 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 0}
.u-section-3 .u-btn-4 {background-image: none; border-style: none none solid; margin: 20px auto 0 20px; padding: 0}
.u-section-3 .u-layout-cell-6 {background-position: 0% 0%; min-height: 244px; background-image: none}
.u-section-3 .u-container-layout-6 {padding: 30px}
.u-section-3 .u-image-5 {height: 236px; margin: 0 auto}
.u-section-3 .u-text-11 {margin: 30px 20px 0}
.u-section-3 .u-text-12 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 0}
.u-section-3 .u-btn-5 {background-image: none; border-style: none none solid; margin: 20px auto 0 20px; padding: 0}
.u-section-3 .u-layout-cell-7 {min-height: 244px; background-image: none}
.u-section-3 .u-container-layout-7 {padding: 30px}
.u-section-3 .u-image-6 {height: 236px; margin: 0 auto}
.u-section-3 .u-text-13 {margin: 31px 20px 0}
.u-section-3 .u-text-14 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 0}
.u-section-3 .u-btn-6 {background-image: none; border-style: none none solid; margin: 20px auto 0 20px; padding: 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 458px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-text-1 {width: 505px}
.u-section-3 .u-text-2 {width: 505px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-1 {height: 195px; position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-3 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-4 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-1 {margin-left: 0}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-image-2 {height: 195px; position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-5 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-6 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-2 {width: 91px; height: 27px; margin-left: 0}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-image-3 {height: 195px; position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-7 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-8 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-3 {width: 91px; height: 27px; margin-left: 0}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-image-4 {height: 195px; position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-9 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-10 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-4 {width: 91px; height: 27px; margin-left: 0}
.u-section-3 .u-layout-cell-6 {min-height: 100px}
.u-section-3 .u-image-5 {height: 195px; position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-11 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-12 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-5 {width: 91px; height: 27px; margin-left: 0}
.u-section-3 .u-layout-cell-7 {min-height: 100px}
.u-section-3 .u-image-6 {height: 195px; position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-13 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-14 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-6 {width: 91px; height: 27px; margin-left: 0} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 389px}
.u-section-3 .u-layout-cell-1 {min-height: 77px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-1 {width: 387px}
.u-section-3 .u-text-2 {width: 387px}
.u-section-3 .u-layout-cell-2 {min-height: 77px}
.u-section-3 .u-image-1 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-text-4 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-3 {min-height: 77px}
.u-section-3 .u-image-2 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-5 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-text-6 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-4 {min-height: 77px}
.u-section-3 .u-image-3 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-7 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-text-8 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-5 {min-height: 77px}
.u-section-3 .u-image-4 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-9 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-text-10 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-6 {min-height: 77px}
.u-section-3 .u-image-5 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-11 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-text-12 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-7 {min-height: 77px}
.u-section-3 .u-image-6 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-13 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-text-14 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-3 .u-layout-cell-1 {min-height: 58px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {width: 363px}
.u-section-3 .u-text-2 {width: 363px}
.u-section-3 .u-layout-cell-2 {min-height: 173px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-text-4 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-cell-3 {min-height: 173px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-text-6 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-cell-4 {min-height: 173px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-3 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-7 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-text-8 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-cell-5 {min-height: 173px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-4 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-9 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-text-10 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-cell-6 {min-height: 173px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-5 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-11 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-text-12 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-cell-7 {min-height: 173px}
.u-section-3 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-6 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-13 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-text-14 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 112px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-text-1 {width: 340px}
.u-section-3 .u-text-2 {width: 340px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-1 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-image-2 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-5 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-6 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-image-3 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-7 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-8 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-image-4 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-9 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-10 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-6 {min-height: 100px}
.u-section-3 .u-image-5 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-11 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-12 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-7 {min-height: 100px}
.u-section-3 .u-image-6 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-13 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-14 {margin-left: 6px; margin-right: 6px} }.u-block-ddc4-2 {position: absolute; bottom: 10px; margin-bottom: 0}
.u-block-ddc4-3 {position: absolute; left: 0; margin-top: 0; margin-bottom: 0; width: 40px; height: 40px}
.u-block-ddc4-4 {position: absolute; right: 0; margin-top: 0; width: 40px; height: 40px} 

@media (max-width: 575px){ .u-block-ddc4-3 {width: 55px; height: 55px}
.u-block-ddc4-4 {width: 55px; height: 55px} }.u-section-4-1 .u-sheet-1 {min-height: 319px}
.u-section-4-1 .u-layout-wrap-1 {margin: 50px auto 4px 0}
.u-section-4-1 .u-image-1 {min-height: 229px; background-image: url("images/IMG_94862.JPG"); background-position: 50% 50%}
.u-section-4-1 .u-container-layout-1 {padding: 20px}
.u-section-4-1 .u-image-2 {min-height: 229px; background-image: url("images/P1140116.JPG"); background-position: 50% 50%}
.u-section-4-1 .u-container-layout-2 {padding: 20px}
.u-section-4-1 .u-image-3 {min-height: 229px; background-image: url("images/P1150098.JPG"); background-position: 50% 50%}
.u-section-4-1 .u-container-layout-3 {padding: 20px}
.u-section-4-1 .u-image-4 {min-height: 229px; background-image: url("images/P1150318.JPG"); background-position: 50% 50%}
.u-section-4-1 .u-container-layout-4 {padding: 20px} 

@media (max-width: 1199px){ .u-section-4-1 .u-sheet-1 {min-height: 354px}
.u-section-4-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-1 .u-image-1 {min-height: 189px}
.u-section-4-1 .u-image-2 {min-height: 189px}
.u-section-4-1 .u-image-3 {min-height: 189px}
.u-section-4-1 .u-image-4 {min-height: 189px} }

@media (max-width: 991px){ .u-section-4-1 .u-sheet-1 {min-height: 745px}
.u-section-4-1 .u-image-1 {min-height: 290px}
.u-section-4-1 .u-image-2 {min-height: 290px}
.u-section-4-1 .u-image-3 {min-height: 290px}
.u-section-4-1 .u-image-4 {min-height: 290px} }

@media (max-width: 767px){ .u-section-4-1 .u-sheet-1 {min-height: 947px}
.u-section-4-1 .u-layout-wrap-1 {width: 300px; margin: 17px auto 53px}
.u-section-4-1 .u-image-1 {min-height: 222px}
.u-section-4-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-1 .u-image-2 {min-height: 221px}
.u-section-4-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-1 .u-image-3 {min-height: 222px}
.u-section-4-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4-1 .u-image-4 {min-height: 221px}
.u-section-4-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4-1 .u-sheet-1 {min-height: 987px} }.u-section-4-2 .u-sheet-1 {min-height: 319px}
.u-section-4-2 .u-layout-wrap-1 {margin: 50px auto 0 0}
.u-section-4-2 .u-image-1 {min-height: 229px; background-image: url("images/P11501481.JPG"); background-position: 50% 50%}
.u-section-4-2 .u-container-layout-1 {padding: 20px}
.u-section-4-2 .u-image-2 {min-height: 229px; background-image: url("images/P1150428.JPG"); background-position: 50% 50%}
.u-section-4-2 .u-container-layout-2 {padding: 20px}
.u-section-4-2 .u-image-3 {min-height: 229px; background-image: url("images/P1150449.JPG"); background-position: 50% 50%}
.u-section-4-2 .u-container-layout-3 {padding: 20px}
.u-section-4-2 .u-image-4 {min-height: 229px; background-image: url("images/P1150486.JPG"); background-position: 50% 50%}
.u-section-4-2 .u-container-layout-4 {padding: 20px} 

@media (max-width: 1199px){ .u-section-4-2 .u-sheet-1 {min-height: 354px}
.u-section-4-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-2 .u-image-1 {min-height: 189px}
.u-section-4-2 .u-image-2 {min-height: 189px}
.u-section-4-2 .u-image-3 {min-height: 189px}
.u-section-4-2 .u-image-4 {min-height: 189px} }

@media (max-width: 991px){ .u-section-4-2 .u-sheet-1 {min-height: 745px}
.u-section-4-2 .u-image-1 {min-height: 290px}
.u-section-4-2 .u-image-2 {min-height: 290px}
.u-section-4-2 .u-image-3 {min-height: 290px}
.u-section-4-2 .u-image-4 {min-height: 290px} }

@media (max-width: 767px){ .u-section-4-2 .u-sheet-1 {min-height: 947px}
.u-section-4-2 .u-layout-wrap-1 {width: 300px; margin: 17px auto 47px}
.u-section-4-2 .u-image-1 {min-height: 222px}
.u-section-4-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-2 .u-image-2 {min-height: 221px}
.u-section-4-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-2 .u-image-3 {min-height: 221px}
.u-section-4-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4-2 .u-image-4 {min-height: 222px}
.u-section-4-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4-2 .u-sheet-1 {min-height: 987px} }